/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@mixin colorize($color) {
    background-color: $color;

    &:hover {
        background-color: desaturate($color, 50%);
    }
}
body{
	font-family: Helvetica, Arial, sans-serif;
	font-size:12px;
}
strong{
	font-weight: bold
}

.container{
	position: relative;
	width: 960px;
	margin: 0 auto;
}

.row{
	clear:both;
}

.null{
	background: white;
}


[data-status="sold"] {
	@include colorize(rgb(255,130,130));
}

[data-category="bumk"] {
	@include colorize(lighten(rgb(255,100,100), 20%));
	cursor: pointer;
}

[data-category="student"] {
	@include colorize(rgb(255,100,100));
	cursor: pointer;
	color: white;
}

[data-category="reserved"] {
	@include colorize(#48f);
	cursor: pointer;
	color: white;
}

[data-category="normal"] {
	@include colorize(darken(rgb(255,40,40), 0%));
	cursor: pointer;
}

[data-status="empty"] {
	@include colorize(rgb(255,255,190));
	cursor: pointer;
	color:#333;
}

[data-status="presold"] {
	@include colorize(darken(#BEFFBE, 10%));
	cursor: pointer;
	color:#333;
}

[data-status="prereturn"] {
	@include colorize(orange);
	cursor: pointer;
	color:#333;
}

li{
	cursor: pointer;
	width: 3%;
	height: 20px;
	line-height:20px;
	float: left;
	text-align:center;
	font-size:12px;
	color:#333;
	&[data-status="null"]{
		border:1px solid white;
	}
	&:not([data-status="null"]){
		border:1px solid #ffffbe;
	}
}


.control-menu, .stats-menu{
	position:absolute;
	top: 20px;
	left: 45%;
}
.stats-menu{
	top: 310px;
	left:46%;
}
.stat{
	padding: 5px;
}
.info-card{
	position: absolute;
	top: 197px;
	left: 41.7%;
	width: 134px;
	height: 90px;
	background: #efefef;
	padding: 10px;
	display: none
}

.sell, .loose{
	display: none
}

.loose{
	top: 50px;
}
.ticket-types{
	display: none;
	label{
		display: block;
		padding: 5px;
	}
}
.stage{
	width: 100%;
	margin-top: 50px;
	display: block;
	clear: both;
	text-align: center;
	color: rgb(255,130,130);
	font-size:72px;
}